@using AgentSaaS.Web.Services
@inject ThemeService ThemeSvc
@{
    var theme = await ThemeSvc.GetCurrentThemeAsync();
}
<style>
    :root { --bs-primary: @theme.PrimaryColor; }
    /* Injeta CSS do cliente se existir */
    @Html.Raw(theme.CustomCss)
</style>
<nav class="navbar">
    <img src="@theme.LogoUrl" height="40" />
</nav>